torch~=2.5.1
numpy~=2.1.2
matplotlib~=3.9.2
pillow~=11.0.0
torchvision~=0.20.1
scipy==1.14.1
PyYAML~=6.0.2
tqdm~=4.67.1
wandb~=0.19.0
ax-platform
submitit~=1.5.2
scikit-image~=0.25.0

pml_vqvae~=0.0.1
scikit-learn~=1.6.0